* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
  background-color: #c0fdfe;
}

.logo {
  height: 50px;
  width: auto;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  list-style: none;
}

a {
  padding-right: 30px;
  font-size: 36px;
  font-weight: bold;
}

h1,
h2 {
  font-size: 60px;
}

p {
  font-size: 24px;
  font-weight: 500;
}

button {
  background-color: #02bfcb;
  margin: 0 auto;
  padding: 6px 10px;
  font-size: 24px;
  color: white;
  border: none;
}

.nav-links {
  color: black;
}

header {
  display: flex;
  justify-content: center;
  background-color: #e6d5ff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  background-color: #f8ffd7;
}

.discord {
  background-color: #c8fdff;
}

.discordLogo {
  height: 400px;
}

.contact {
  background-color: #d7e6ff;
  display: flex;
  padding: 50px;
}

form {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

footer {
  background-color: #a0f2ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.footer-links {
  color: blue;
  text-decoration: none;
  padding-left: 25px;
}
