* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 0;
  background-color: #c0fdfe;
}

.logo {
  height: 50px;
  width: auto;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  list-style: none;
}

a {
  padding-right: 30px;
  font-size: 24px;
  font-weight: bold;
}

h1,
h2 {
  font-size: 60px;
  padding-bottom: 30px;
  text-align: center;
}

p {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 20px;
}

button {
  background-color: #02bfcb;
  margin: 0 auto;
  padding: 6px 10px;
  font-size: 24px;
  color: white;
  border: none;
  border-radius: 7.5px;
}

button:hover {
  background-color: #0d47a1;
}

.nav-links {
  color: black;
}

header {
  display: flex;
  justify-content: center;
  background-color: #e6d5ff;
  padding: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.section__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

figure {
  padding: 0 24px;
}

#about {
  background-color: #f8ffd7;
}


#discord {
  background-color: #c8fdff;
}

.discordLogo {
  height: 400px;
}

#contact {
  background-color: #d7e6ff;
  display: flex;
  padding: 50px;
}

form {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #a0f2ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.footer-links {
  color: blue;
  text-decoration: none;
  padding: 25px;
}
