@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Noto+Sans+JP:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #c0fdfe;
}

.logo {
  width: 300px;
}

.links {
  display: flex;
}

li {
  list-style: none;
  padding-left: 16px;
}

a {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

h1 {
  font-size: 72px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6d5ff;
  height: calc(100vh - 70px);
  padding: 100px;
}

.row {
  width: 100%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.subheader {
  font-size: 32px;
  margin: 16px 0 24px 0;
}

p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 24px;
}

button {
  background-color: #02bfcb;
  color: white;
  margin: 0 auto;
  padding: 8px 16px;
  font-size: 24px;
  border: none;
  border-radius: 7.5px;
  cursor: pointer;
}

button:hover {
  background-color: #0d47a1;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 24px;
}

.section__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#about {
  background-color: #f8ffd7;
}

#discord {
  background-color: #c8fdff;
}

img {
  width: 100%;
}

.section__img--wrapper {
  width: 40%;
  padding: 0 24px;
}

.section__description--wrapper {
  width: 60%;
  padding: 0 24px;
  text-align: left;
}

/*.discordLogo {
  width: 75%;
  height: 75%;
  transform: translate(17%);
}*/

#contact {
  background-color: #d7e6ff;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

input,
textarea {
  margin-bottom: 24px;
  font-size: 20px;
  padding: 6px 12px;
}

footer {
  background-color: #a0f2ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.footer__logo {
  max-width: 480px;
}

.footer-links {
  color: blue;
  text-decoration: none;
  padding: 12px 0;
}

footer p {
  margin-bottom: -12px;
}

/* SMALL SMARTPHONES, TABLETS, LARGE SMARTPHONES*/
@media (max-width: 728px) {
  nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .row {
    flex-direction: column;
  }

  .home__description {
    margin-bottom: 24px;
  }

  h1 {
    font-size: 60px;
  }

  .subheader {
    font-size: 28px;
  }

  h2 {
    font-size: 44px;
  }

  .section__description {
    flex-direction: column;
  }

  .section__description--wrapper {
    width: 100%;
  }

  .section__img--wrapper {
    width: 75%;
  }

  #discord .section__description {
    flex-direction: column-reverse;
  }

  footer {
    text-align: center;
    padding: 48px 24px;
  }

  footer p {
    margin-bottom: -12px;
  }

  .footer__logo {
    max-width: 400px;
  }

  li {
    padding: 0 8px;
  }

  .footer-links {
    flex-wrap: wrap;
    justify-content: center;
    font-size: 16px;
  }
}
